.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.github/**
.designs/**
.docs/**
.specit/**
.images/**
.gitignore
.gitattributes
tsconfig.json
esbuild.config.mjs
.eslintrc*
**/*.ts
**/*.map
package-lock.json
*.vsix
