.vscode/**
.vscode-test/**
src/**
.github/**
.designs/**
.gitignore
tsconfig.json
.eslintrc*
**/*.ts
**/*.map
out/test/**
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/@vscode/test-electron/**
node_modules/@vscode/vsce/**
node_modules/eslint/**
node_modules/mocha/**
node_modules/typescript/**
node_modules/glob/**
